<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    prefix="exvoc: http://www.ex-city.com/
			ex: http://example.org/
			rdfs: http://www.w3.org/2000/01/rdf-schema#
			ns0: http://semanticweb.org/ontologies/City#
			ite: http://w3id.org/sparql-generate/iter/
			ns1: http://www.w3.org/2003/01/geo/wgs84_pos
			crm: http://www.cidoc-crm.org/cidoc-crm/"
    lang="fr">

<head>
	<meta charset="ISO-8859-1"/>
	<title>Bike Station App</title>
	<link rel="stylesheet" href="../../../css/carousel.css" th:href="@{/css/carousel.css}" />
	<link rel="stylesheet" href="../../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="../../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" href="../../../css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="../../../css/my_css.css" th:href="@{/css/my_css.css}" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	   crossorigin=""/>
    <link rel="stylesheet" href="../../../css/leaflet-routing-machine.css" th:href="@{/css/leaflet-routing-machine.css}" />
</head>

<body>
	<script type="text/javascript" src="../../../js/city_manager.js" th:href="@{/js/city_manager.js}"> </script>
	
    <div id="my-left-panel">
       <table id="cities">
        <tr th:each="city : ${Cities}" th:about="${city.IRI}" typeof="ns0:City">
             <td property="ns0:CityName" th:content="${city.name}">
				 <form action ="/" th:method="${CityChoose == null || city.name != CityChoose.name? 'POST' : 'GET'}">
				 	 <input type="hidden" id="lastCity" name="lastCity" onclick="" th:value="${CityChoose != null? CityChoose.name : ''}"/>
		           	 <label for="city" th:class="${CityChoose == null || city.name != CityChoose.name? '' : 'active'}">
		           		 <input type="submit" id="city" name="city" onclick="" th:value="${city.name}"/>
		           	 </label>
				 </form>
             </td>
             <td style="display: none;" rel="ns0:LienDonneesDynamique" th:src="${city.dynamicLink}"></td>
		</tr>
		<tr>
            <td>
			 <form action ="/newCity" method="GET">
	           	 <input type="submit" id="add" value="Ajouter une ville"/>
			 </form>
            </td>
		</tr>
       </table>
	</div>
	
	<div id="my_global_container">
		<div id="stations_container">
			<div id="costumization">
				<div id="transport1_container">
					<!-- div id="select_bike" th:onclick="addRemoveTypeTransport(this, 'Bike'); refreshStationFilter(/*[[${CityChoose}]]*/);">
						<img alt="Bike" src="../../../css/images/icon-bike.png" th:href="@{/css/images/icon-bike.png}">
					</div>
					<div id="select_bus" th:onclick="addRemoveTypeTransport(this, 'Bus'); refreshStationFilter(/*[[${CityChoose}]]*/);">
						<img alt="Bus" src="../../../css/images/icon-bus.png" th:href="@{/css/images/icon-bus.png}">
					</div-->
					<div th:if="${CityChoose}" id="select_begin" th:onclick="addTrip(true);">
						<img alt="Bus" src="../../../css/images/icon-bus.png" th:href="@{/css/images/icon-bus.png}">
					</div>
				</div>
				
				<div id="search">
					<input type="text" placeholder="Entrez le nom de la station" th:oninput="stationFilter(/*[[${CityChoose}]]*/, this);"/>
				</div>
				
				<div id="transport2_container">
					<div th:if="${CityChoose}" id="select_end" th:onclick="addTrip(false);">
						<img alt="Train" src="../../../css/images/icon-train.png" th:href="@{/css/images/icon-train.png}">
					</div>
					<!-- div id="select_subway" th:onclick="addRemoveTypeTransport(this, 'Subway'); refreshStationFilter(/*[[${CityChoose}]]*/);">
						<img alt="Subway" src="../../../css/images/icon-train.png" th:href="@{/css/images/icon-train.png}">
					</div>
					<div id="select_parking" th:onclick="addRemoveTypeTransport(this, 'Parking'); refreshStationFilter(/*[[${CityChoose}]]*/);">
						<img alt="Parking" src="../../../css/images/icon-car.png" th:href="@{/css/images/icon-car.png}">
					</div-->
				</div>
			</div>
			
		    <div id="map"> </div>
			
			<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			  crossorigin=""></script>
            <script src="../../../js/leaflet-routing-machine.js" th:href="@{/js/leaflet-routing-machine.js}"></script>
            <script src="../../../js/lrm-graphhopper.js" th:href="@{/js/lrm-graphhopper.js}"></script>
			
			<script type="text/javascript" src="../../../js/map_manager.js" th:href="@{/js/map_manager.js}"></script>
			
			<script type="text/javascript" th:inline="javascript" th:if="${CityChoose == null && lastLocCity == null}">
				initMap(/*[[${Cities}]]*/, 45.43992, 4.3896303, 4);
			</script>
			
			<script type="text/javascript" th:inline="javascript" th:if="${CityChoose != null && lastLocCity == null}">
				initMap(/*[[${Cities}]]*/, /*[[${CityChoose.localisation.lat}]]*/, /*[[${CityChoose.localisation.lg}]]*/, 4);
				goToCity(/*[[${CityChoose}]]*/);
				updateCityToShow(/*[[${CityChoose}]]*/);
			</script>
			
			<script type="text/javascript" th:inline="javascript" th:if="${CityChoose == null && lastLocCity != null}">
				initMap(/*[[${Cities}]]*/, /*[[${lastLocCity.lat}]]*/, /*[[${lastLocCity.lg}]]*/, 12);
        		reinitMap(/*[[${lastLocCity}]]*/);
			</script>
			
			<script type="text/javascript" th:inline="javascript" th:if="${CityChoose != null && lastLocCity != null}">
				initMap(null, /*[[${lastLocCity.lat}]]*/, /*[[${lastLocCity.lg}]]*/, 12);
				changeCity(/*[[${lastLocCity}]]*/, /*[[${CityChoose}]]*/);
				updateCityToShow(/*[[${CityChoose}]]*/);
			</script>
			
	        <table th:about="${CityChoose.IRI}" th:if="${CityChoose}" style="display:none;">
	            <tr rel="ns0:CityPublicTransport" typeof="ns0:CityBikeStation" th:each="bikeStation : ${CityChoose.bikesStations}">
	                <td property="ns0:StationId" datatype="rdf:integer" th:content="${bikeStation.idStation}"></td>
	                <td property="ns0:Stationname" th:content="${bikeStation.name}"></td>
	                <td property="ns0:StationTotalcapacity" datatype="rdf:integer" th:content="${bikeStation.capacity}"></td>
	                <td rel="ns0:StationLocalisation">
	                	<span property="ns1:lat" datatype="rdf:float" th:content="${bikeStation.localisation.lat}"></span>
	                	<span property="ns1:long" datatype="rdf:float" th:content="${bikeStation.localisation.lg}"></span>
	                </td>
	                <td rel="ns0:StationHistorique">
	                	<span rel="ns0:StationState" th:each="state : ${bikeStation.listHistoriqueStation}">
		                	<span property="ns0:Date" datatype="rdf:long" th:content="${state.date}"></span>
		                	<span property="ns0:BikeAvailable" datatype="rdf:integer" th:content="${state.bikeAvailable}"></span>
		                	<span property="ns0:SlotAvailable" datatype="rdf:integer" th:content="${state.slotAvailable}"></span>
	                	</span>
	                </td>
	            </tr>
	        </table>
	    </div>

	</div>
</body>

</html>
