<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1"/>
	<title>Bike Station App</title>
	<link rel="stylesheet" href="../../../css/new_city.css" th:href="@{/css/new_city.css}" />
</head>

<body>
	 <script type="text/javascript" src="../../../js/city_manager.js" th:href="@{/js/city_manager.js}"> </script>

	 <form action ="/newCity" method="POST">

	 	 <p class="title"> Add Bike Stations</p>

	     <p>Name</p>
   		 <input type="text" class="nameCity" name="nameCity" required/>

	 	 <p>Static Link</p>
   		 <input type="text" class="staticLink" name="staticLink" required/>

	 	 <p>Dynamic Link</p>
   		 <input type="text" class="dynamicLink" name="dynamicLink" required/>

         

   	 

   		 <select id="formatFichier" name="formatFichier" required>
			  <option value="JSON"> JSON </option>
			  <!-- <option value="CSV"> CSV </option> -->
			  <option value="XML"> XML </option>

		</select>
		<p>Wikidata </p>
   		 <input type="text" class="wikidataCity" name="wikidataCity" required/>


	 	 <!-- label for="type"> Type :
			<select id="type" name="type">
			  <option value="Bike"> Bike </option>
			  <option value="Bus"> Bus </option>
			  <option value="Subway"> Subway </option>
			  <option value="Parking"> Parking </option>
			</select>
       	 </label-->

  		 <input type="submit" id="add_city" value="Ajouter"/>
	 </form>

	 <script th:if="${error}" th:inline="javascript"> showNewCityError(/*[[${error}]]*/); </script>
</body>

</html>
